 /* General styles */
    body {
      background-color: #E0C9A6;
      margin: 0;
      padding: 0;
    }

    /* Typography */
    h1 {
      font-size: 40px;
      text-align: center;
      margin: 0;
      padding: 10px;
    }

    h2 {
      font-size: 30px;
      margin: 0;
      padding: 10px;
    }

    h3 {
      font-size: 20px;
      margin: 0;
      padding: 10px;
    }

    p {
      font-size: 16px;
      text-align: justify;
      text-indent: 2em;
      margin: 0;
      padding: 10px;
    }

    /* Layout */
    main {
      padding: 1em;
    }

    /* Media queries for responsive design */
    @media (min-width: 768px) {
      /* Styles for desktop */
      h1 {
        font-size: 80px;
      }

      h2 {
        font-size: 60px;
      }

      h3 {
        font-size: 40px;
      }

      p {
        font-size: 2em;
      }
    }
